h1 {
    text-align: center;
}

body {
    display: flexbox;
}

section {
    display: inline-block;
    text-align: justify;

}

header {
    display: block;
    align-items: center;
}

.traditional {
    align-content: center;
    max-width: max-content;
    display: inline-block;
}