* {
    box-sizing: border-box;
    margin: 30px;
    padding: auto;
    background-color: antiquewhite;
}
.header{
    text-align: center;
    justify-content: center;
}
.header2{
    display: flexbox;
    text-align: left;
}
.sec1{
    justify-content: center;
    text-align: center;
}
.Imagenes{
    display: inline;

}

footer{
    text-align: center;
    background-color: burlywood;
    
}
/* Index 2*/


